:root {
    --background: #1D1D1D;
    --secondary-bg: #262626;
    --hover-bg: #2F2F2F;
    --primary-border: #4D4D4D;
    --primary-white: #FFFFFF;
    --primary-red: #FA7272;
    --hover-red: #FF8888;
    --hover-white: #ffffff;

    --border-radius-12: 12px;
    --border-radius-8: 8px;

    --margin-24: 24px;
}